##### 1.Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [5]:
import re

In [6]:
target_string = 'Python Exercises, PHP exercises.'
print(re.sub("[\s\,\.]",":",target_string))

Python:Exercises::PHP:exercises:

##### 2.Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [51]:
import pandas as pd

In [52]:
dict1={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df=pd.DataFrame(dict1)
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [56]:
df1 = df['SUMMARY'].str.replace('[^a-xA-W\s]', '', regex=True)
df1

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

##### 3.Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [89]:
string = 'My name is sachin kumar and i am intern of filip robo technology'
def word(string):
    pattern = re.compile(r'\b\w{4}\b')
    return pattern.findall(string)
result = word(string)
print(result)

['name', 'robo']

##### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [100]:
string1 ='Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.'
def word1(string1):
    pattern = re.compile(r'\b\w{3,5}\b')
    return pattern.findall(string1)
result1 = word1(string1)
print(result1)

['find', 'all', 'three', 'four', 'and', 'five', 'words', 'The', 'use', 'the']

##### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [123]:
def remove_parentheses(strings):
    pattern = re.compile(r'\(.*?\)')
    modified_strings = [pattern.sub('', string).replace(" ", "") for string in strings]
    return modified_strings
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parentheses(sample_text)

for line in result:
    print(line)

example
hr@fliprobo
github
Hello
Data

##### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [126]:
def remove_parenthesis(strings):
    pattern = re.compile(r'\([^)]*\)')
    result = [re.sub(pattern, '', s) for s in strings]
    return result

sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parenthesis(sample_text)
print(result,end=' ')

['example ', 'hr@fliprobo ', 'github ', 'Hello ', 'Data ']

##### Question 7- Write a regular expression in Python to split a string into uppercase letters.
 ##### Sample text: “ImportanceOfRegularExpressionsInPython”

In [141]:
def split_uppercase_letters(text):
    pattern = re.compile(r'(?<=[a-z])(?=[A-Z])')
    return pattern.split(text)
sample_text = "ImportanceOfRegularExpressionsInPython"
result = split_uppercase_letters(sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

##### Question 8- Create a function in python to insert spaces between words starting with numbers.
##### Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
##### Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [143]:
def insert_spaces(text):
    pattern = re.compile(r'(\d)([A-Z])')
    return pattern.sub(r'\1 \2', text)
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = insert_spaces(sample_text)
print(result)

RegularExpression1 IsAn2 ImportantTopic3 InPython

##### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
##### Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
##### Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [144]:
def insert_spaces(text):
    pattern = r'([A-Z][a-z0-9]+|\d+)'
    result = re.sub(pattern, r' \1', text)
    result = result.strip()
    return result
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
result = insert_spaces(sample_text)
print(result)

Regular Expression1 Is An2 Important Topic3 In Python

#### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [145]:
df2 = pd.read_csv(r'https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df2

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [149]:
df2['first_five_letters'] = df2['Country'].apply(lambda x: x[:6])
print(df2['first_five_letters'])

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

##### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [152]:
def match_string(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.match(pattern, string):
        print("String matches the pattern")
    else:
        print("String does not match the pattern")
        
match_string("Hello_World123")

String matches the pattern

##### Question 12- Write a Python program where a string will start with a specific number.

In [153]:
def match_num(string):
    text = re.compile(r"^5")
    if text.match(string):
        return True
    else:
        return False
print(match_num('5-2345861'))
print(match_num('6-2345861'))

True
False

##### Question 13- Write a Python program to remove leading zeros from an IP address

In [155]:
ip = "126.01.098.192"
string = re.sub('\.[0]*', '.', ip)
print(string)

126.1.98.192

##### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
##### Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
##### Expected Output- August 15th 1947

In [163]:
Sample_text ='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'
pattern = r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)\s+\d{4}\b'
matches = re.search(pattern, Sample_text)

if matches:
    print(matches.group(0))

August 15th 1947

##### Question 15- Write a Python program to search some literals strings in a string. 
##### Sample text : 'The quick brown fox jumps over the lazy dog.'
##### Searched words : 'fox', 'dog', 'horse'

In [166]:
Sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

for word in searched_words:
    if re.search(word, Sample_text):
        print(f'\'{word}\' found in the Sample_text.')
    else:
        print(f'\'{word}\' not found in the text.')

'fox' found in the Sample_text.
'dog' found in the Sample_text.
'horse' not found in the text.

##### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
##### Sample text : 'The quick brown fox jumps over the lazy dog.'
##### Searched words : 'fox'

In [167]:
pattern = 'fox'
Sample_text  = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19


##### Question 17- Write a Python program to find the substrings within a string.
##### Sample text : 'Python exercises, PHP exercises, C# exercises'
##### Pattern : 'exercises'.

In [172]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, Sample_text):
    print(' "%s"' % match)

 "exercises"
 "exercises"
 "exercises"

##### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [174]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, Sample_text):
    s = match.start()
    e = match.end()
    print(' "%s" at %d:%d' % (text[s:e], s, e))

 "ck brown " at 7:16
 "mps over " at 22:31
 "azy dog." at 36:45

##### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [176]:
def change_date(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026